<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 42 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="42">
      <mat-nav-list>
        <a mat-list-item routerLink="">
          <div fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-icon>home</mat-icon>
            <span class="mat-small">INICIO</span>
          </div>
        </a>
        <a mat-list-item routerLink="/auth">
          <div fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-icon>person</mat-icon>
            <span class="mat-small">LOGIN</span>
          </div>
        </a>
        <a mat-list-item (click)="updateColorScheme()">
          <div fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-icon>brightness_4</mat-icon>
            <span class="mat-small">TEMA OSCURO: {{theme === 'dark' ? 'ON' : 'OFF'}}</span>
          </div>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <button routerLink="/auth">Login</button>

<router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

