
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Roboto Condensed, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 400)
);

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$services-primary: mat-palette($mat-indigo);
//$services-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
//$services-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
//$services-theme: mat-light-theme($services-primary, $services-accent, $services-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//@include angular-material-theme($services-theme);

/* You can add global styles to this file, and also import other style files */
$app-primary: mat-palette($mat-light-blue, 800);
$app-accent: mat-palette($mat-cyan);
$app-warn: mat-palette($mat-red);

$theme-dark: mat-dark-theme($app-primary, $app-accent, $app-warn);
$theme-light: mat-light-theme($app-primary, $app-accent, $app-warn);

.color-scheme-dark {
    @include angular-material-theme($theme-dark);
}

.color-scheme-light {
    @include angular-material-theme($theme-light);
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto Condensed', sans-serif; }
